.footer {
    width: 100%;
    color: #ffffff;
    overflow: hidden;
}

.footer-cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 30px 20px;
    background-color: #222127;
    gap: 20px;
}

.footer-col ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

.footer-col ul a {
    text-decoration: none;
    color: #d9d9d9;
    transition: all 0.3s ease;
}

.footer-col ul a:hover {
    color: #4484ce;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}



.social-links-footer {
    display: flex;
    gap: 30px;
    
}

.social-links-footer a {
    display: flex;
    text-decoration: none;
    padding: 10px;
    border-radius: 50%;
    color: #4484ce;
    transition: all 0.3s ease;
}


.social-links-footer a:hover {
    color: #ffffff;
    background-color: #4484ce;
}

.copyright {
    background-color: #232327;
    color: #d9d9d9;
    font-size: 12px;
    text-align: center;
    padding: 10px;
}

@media (max-width: 750px) {
    .footer-cols {
        grid-template-columns: repeat(1, 1fr);
    }
}
