html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

*::selection {
    background-color: #f0cb5c;
    color: #273435;
}

.btn {
    border: none;
    background-color: #4484ce;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:focus {
    outline: none;
}

.btn:active {
    transform: scale(0.95);
}

.btn:hover {
    background-color: #ffefc2;
    color: #273435;
}

.loading-modal {
    position: fixed;
    color:#232327;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    z-index: 1;
}

.loading-modal i {
    font-size: 50px;
    margin-bottom: 20px;
}

.underline-detail {
    display: inline-block;
    background: linear-gradient(to top, #ffefc2 20%, transparent 80%);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}

.eventMessage {
    position: fixed;
    color: #ffffff;
    background-color: #232327;
    width: 300px;
    padding: 10px 20px;
    border-radius: 8px;
    top: 0;
    right: 0;
    margin: 80px 20px;
    display: flex;
    flex-direction: column;
    animation: slide-in 0.5s ease;
    z-index: 2;
}

.bar {
    width: 100%;
    height: 5px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.error {
    background-color: #cf8987;
}

.success {
    background-color: #87cf89;
}


.eventIcons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.closeEvent {
    cursor: pointer;
}

@keyframes slide-in {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}