.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #ffffff;
    width: 100%;
    height: 500px;
    background-image: url('../assets/content-images/help/header.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.header i {
    font-size: 50px;
}


.questions {
    max-width: 60%;
    margin: auto;
    padding: 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.question {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    height: fit-content;
    color: #273435;
    background-color: #d9d9d9;
    border-radius: 8px;
    cursor: pointer;
}

/*
Your selected colors:
    
    Primary: #222127 (RGB: 34, 33, 39)
    Secondary: #d9d9d9 (RGB: 217, 217, 217)
    Primary Button: #4484ce (RGB: 68, 132, 206)
    Secondary Button: #ead36c (RGB: 234, 211, 108)
    Accent: #f19f4d (RGB: 241, 159, 77)

Realtime Colors link for selected colors: https://realtimecolors.com/?colors=222127-d9d9d9-4484ce-ead36c-f19f4d

Thanks for using RealtimeColors.com!

*/

.question-content h2 {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

.question-icon {
    align-self: flex-start;
    margin-top: 20px;
}

.question-content p {
    margin: 10px 20px;
    display: none;
}

.question.active p {
    display: block;
}

@media (max-width: 750px) {

    .header {
        margin-top: 70px;
        flex-direction: column;
        height: 250px;
    }

    .questions {
        max-width: 90%;
        grid-template-columns: 1fr;
    }
}