.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #EFF1F3;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 500px;
    /* background-color: #009FB7; */
    background-image: url('../assets/content-images/help/header.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.header i {
    font-size: 50px;
}


.questions {
    max-width: 60%;
    margin: auto;
    padding: 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    transition: all 0.5s ease;
}

.question {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    height: fit-content;
    color: #EFF1F3;
    background-color: #009FB7;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.question-content h2 {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

.question-icon {
    align-self: flex-start;
    margin-top: 20px;
}

.question-content p {
    margin: 10px 20px;
    display: none;
}

.question.active p {
    display: block;
}

@media (max-width: 750px) {

    .header {
        margin-top: 70px;
        flex-direction: column;
        height: 250px;
    }

    .questions {
        max-width: 90%;
        grid-template-columns: 1fr;
    }
}