html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    justify-content: flex-end;
    width: 100%;
    height: 700px;
    align-items: center;
}

.header-content {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: #272727;
    padding: 30px;
    border-radius: 8px;
    color: #EFF1F3;
    height: 300px;
    width: 300px;
    text-align: right;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}


.header-slider {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-content h1 {
    font-size: 30px;
    font-weight: bold;
}

.header-content span {
    color: #FED766;
    font-size: 13px;
    font-weight: bold;
}

.header-content p {
    font-size: 15px;
}

.btns-slider-header {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    margin: 20px;
}

.btn {
    border: none;
    background-color: #009FB7;
    color:#EFF1F3;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-slider-header {
    color: #009FB7;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.active-img {
    color: #EFF1F3;
    padding: 5px;
    border-radius: 50%;
    background-color: #009FB7;
}

.main-sobre {
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    height: 600px;
}

.main-sobre span {
    color: #FED766;
    font-size: 13px;
    font-weight: bold;
    
}

.sobre-text {
    width: 400px;
}

.sobre-text h2 {
    font-size: 25px;
    font-weight: 800;
}

.sobre-text h3 {
    font-size: 20px;
    font-weight: 600;
}

.sobre-text p {
    font-size: 15px;
    font-weight: 400;
}

.sobre-img img {
    height: 400px;
    width: 500px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    filter: brightness(90%);
}


.main-cards {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 800px;
}

.container-cards {
    display: flex;
    align-items: center;
    gap: 100px;
}

.card {
    width: 300px;
    height: 300px;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card i {
    width: 20px;
    padding: 20px;
    border-radius: 8px;
    color: #EFF1F3;
    background-color: #009FB7;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.main-unidades {
    height: 800px;
    margin-top: 100px;
}

.main-unidades {
    background: linear-gradient(to bottom, #EFF1F3, transparent);
    color: #272727;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.unit-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}

.unit-content img {
    height: 400px;
    width: 800px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    filter: brightness(90%);
}

.unit-content h1 {
    font-size: 30px;
    font-weight: bold;
    color: #009FB7;
}

#btn-next {
    height: 150px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left, #272727, transparent);
}

#btn-prev {
    height: 150px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #272727, transparent);
}

.border {
    margin-bottom: 100px;
    filter: brightness(80%);
}

.comments {
    margin-top: 100px;
    height: 800px;
}


@media (max-width: 750px) {

    .header {
        height: 700px;
        width: 100%;
        background-size: contain;
        background-position: 75% 15%;
    }

    .header-content {
        margin: 200px 10px 0 0;
    }
    
    .btns-slider-header {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
        margin: 20px;
    }

    .main-sobre {
        height: 800px;
        flex-direction: column;
    }

    .sobre-img img {
        height: 300px;
        width: 400px;
    }

    .main-cards {
        height: 100%;
    }

    .container-cards {
        display: flex;
        flex-direction: column;
    }

    .unit-content img {
        height: 200px;
        width: 450px;
    }


}

