.header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    height: 700px;
    align-items: center;
    overflow: hidden;
}

.header-content {
    grid-row: 2 / 3;
    grid-column: 4;
    text-align: right;
    margin-right: 300px;
    height: 300px;
    width: 300px;
    background-color: #222127;
    color: #ffffff;
    padding: 30px;
    border-radius: 8px;
}


.header-slider {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-content h1 {
    font-size: 30px;
    font-weight: bold;
}

.header-content span {
    color: #f19f4d;
    font-size: 13px;
    font-weight: bold;
}

.header-content p {
    font-size: 15px;
}

.btns-slider-header {
    display: flex;
    grid-row: 4;
    grid-column: 3 / 4;
    margin: 20px;
}

.btn-slider-header {
    color: #4484ce;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.active-img {
    color: #ffffff;
    padding: 5px;
    border-radius: 50%;
    background-color: #4484ce;
}

/*
Your selected colors:
    Text: #273435
    Primary: #222127 (RGB: 34, 33, 39)
    Secondary: #d9d9d9 (RGB: 217, 217, 217)
    Primary Button: #4484ce (RGB: 68, 132, 206)
    Secondary Button: #ead36c (RGB: 234, 211, 108)
    Accent: #f19f4d (RGB: 241, 159, 77)

Realtime Colors link for selected colors: https://realtimecolors.com/?colors=222127-d9d9d9-4484ce-ead36c-f19f4d

Thanks for using RealtimeColors.com!



*/
.main-sobre {
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    height: 500px;
    background-color: #d9d9d9;
    color: #273435;
}

.main-sobre span {
    color: #f19f4d;
    position: absolute;
    margin-top: 8px;
    font-size: 13px;
    font-weight: bold;
    
}

.sobre-text {
    width: 400px;
}


.sobre-text h2 {
    font-size: 25px;
    font-weight: 800;
}

.sobre-text h3 {
    font-size: 20px;
    font-weight: 600;
}

.sobre-text p {
    font-size: 15px;
    font-weight: 400;
}

.sobre-img img {
    height: 400px;
    width: 500px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    filter: brightness(90%);
}


.main-cards {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 800px;
    gap: 50px;
}

.container-cards {
    display: flex;
    align-items: center;
    gap: 200px;
}

.card {
    width: 300px;
    height: 300px;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card i {
    width: 20px;
    padding: 20px;
    border-radius: 8px;
    color: #ffffff;
    background-color: #4484ce;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.main-unidades {
    height: 800px;
    margin-top: 100px;
}

.main-unidades {
    background: linear-gradient(to bottom, #d9d9d9, transparent);
    color: #273435;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.unit-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}

.unit-content img {
    height: 400px;
    width: 800px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    filter: brightness(90%);

}

.unit-content h1 {
    font-size: 30px;
    font-weight: bold;
    color: #4484ce;
}


.border {
    margin-bottom: 100px;
    filter: brightness(80%);
}

.comments {
    margin-top: 100px;
    height: 800px;
}


@media (max-width: 750px) {

    .header {
        background-size: contain;
        background-position: 75% 15%;
    }

    .header-content {
        grid-column: 3;
        margin-right: 10px;

    }
    
    .sobre-text {
        width: 350px;
    }

    .main-sobre {
        height: 800px;
        flex-direction: column;
    }

    .sobre-img img {
        height: 250px;
        width: 350px;
    }

    .main-cards {
        height: 100%;
    }


    .container-cards {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .unit-content img {
        height: 200px;
        width: 350px;
    }

}