#logo {
    height: 50px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 1;
    background-color: #EFF1F3;
    box-shadow: 5px 0 20px rgba(0, 0, 0, 0.2);
    height: 70px;
    width: 100%;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.navbar ul li {
    display: inline-block;
    margin: 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: #272727;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-links a {
    text-decoration: none;
    width: 5px;
    height: 5px;
    padding: 5px;
    border-radius: 50%;
    color: #009FB7;
}



.social-links a:hover {
    color: #EFF1F3;
    background-color: #009FB7;
}


.nav-icon {
    color: #272727;
    display: none;
}

@media (max-width: 1024px) {

    .navbar {
        justify-content: space-between;
    }


    .nav-links {
        display: none;
        position: absolute;
        top: 70px;
        margin: 0;
        width: 50%;
        height: 100vh;
        background-color: #EFF1F3;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        right: 0;
    }

    .nav-links ul {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: end;
        gap: 30px;
        margin-right: 20px;
    }

    .social-links {
        margin-right: 20px;
    }

    .active-nav .nav-links {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-end;
        gap: 20px;
    }

    .nav-icon {
        display: block;
        cursor: pointer;
        margin-right: 30px;
        padding: 5px;
        border-radius: 8px;
    }

    .nav-icon:hover{
        background-color:#009FB7;
        color: #EFF1F3;
    }

    #logo {
        display: block;
        cursor: pointer;
        margin-left: 30px;
    }
    
}