.main-blog {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 50%;
    max-width: fit-content;
    padding: 70px;
    background-color:#EFF1F3;
}

.main-img img {
    width: 100%;
    height: 400px;
    margin-top: 10px;
    object-fit: cover;
    user-select: none;
    -webkit-user-drag: none;
    border-radius: 8px;
}

.blog-header-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
}


.blog-header-content h1 {
    display: flex;
    font-size: 50px;
    font-weight: 800;
}

.blog-metadatas {
    display: block;
}

.blog-metadatas span {
    font-weight: 600;
}

.blog-metadatas p {
    font-weight: 400;
    color: #27343580;
}

.blog-description p {
    display: block;
    text-align: start;
    font-weight: 600;
    font-size: 16px;
    color: #27343580;
}

.blog-content {
    font-size: 20px;
    text-align: justify;
}


@media (max-width: 500px) {
    .main-blog {
        width: 100%;
        padding: 15px;
    }

    .main-img img {
        height: 300px;
    }

    .blog-header-content h1 {
        font-size: 40px;
    }

    .blog-description p {
        font-size: 15px;
    }

    .blog-content {
        font-size: 15px;
    }

    .blog-metadatas {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}
